@import '../../../../styles/variables';
@import '../../../../styles/queries';

.search-overlay {
	display: none;
	&.open {
		display: flex;
	}
	flex-wrap: wrap;
	min-height: calc(100vh - 50px);
	width: calc(100% - 40px);
	position: absolute;
	left: 20px;
	z-index: 1000;
	padding: 20px;
	background-color: $bg;
	top: 163px;
	@include tablet() {
		top: -42px;
		width: 80%;
	}
	
	.group {
		flex-basis: 33%;
		min-width: 280px;
		padding-left: 10px;
		max-height: 400px;
		margin-bottom: 30px;
		ul {
			margin-top: 30px;
			li {
				margin-bottom: 12px;
				font-size: 18px;
				a:hover {
					color:$accent;
					font-weight: 500;
				}
			}
		}
	}
}