<form class="add-syntax" (ngSubmit)="submitForm(addSyntaxForm)" [formGroup]="addSyntaxForm">
	<div class="add-syntax__info-container">
		<div>
			<h1 class="hero__headline hero__headline--left">Add new syntax</h1>
		</div>
		
		<div class="add-syntax__form">
			<div class="add-syntax__language-container custom-select-wrapper custom-select-wrapper--dark">
				<select required
					formControlName="language" 
					class="custom-select custom-select--dark">
					<option>Javascript</option>
					<option selected>Typescript</option>
					<option>CSS</option>
					<option>SASS</option>
				</select>
				<div class="form-error" *ngIf="language.invalid && language.touched || submitAttempted">
					A language is required
				</div>
			</div>
			<div class="add-syntax__name-container">
				<input class="custom-input" 
					type="text"
					formControlName="label"
					required
					placeholder="Name" />

				<div class="form-error" *ngIf="label.invalid && label.touched || submitAttempted">
					A name is required
				</div>
			</div>
				
			<div class="buttons-container--left">
				<button type="submit" class="button button--primary">
					add new syntax
				</button>
			</div>
		</div>
		<div class="form-error" *ngIf="syntaxError">
			Please enter some syntax
		</div>
	</div>

	<div class="add-syntax__code-container">
		<div class="add-syntax__code-block"
			[(text)]="code"
			ace-editor 
			[mode]="'javascript'">
		</div>
	</div>

	<div class="buttons-container--mobile">
		<button type="submit"  class="button button--primary">
			add new syntax
		</button>
	</div>
</form>
