@import '../../../../styles/variables';
@import '../../../../styles/queries';

:host {
	width: 100%;
}

.mobile-menu {
	display: none;
	&.open {
		display: flex;
	}
	flex-flow: row wrap;
	// min-height: calc(100vh - 50px);
	width: calc(100% - 40px);
	position: absolute;
	z-index: 1000;
	padding: 20px;
	background-color: $bg;
	align-content: flex-start;
	.button {
		flex-grow: 1;
		margin: 8px 0;
		@include custom-min(499px) {
			margin: 15px;
		}
		&:last-child {
			margin-top: 30px;
		}
	}
	.search {
		flex-basis: 100%;
	}
}