.button {
	width: 220px;
	height: 60px;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 61px;
	text-align: center;
	position: relative;
	@include desktop {
		&:hover {
			cursor: pointer;
			position: relative;
			&:after {
				content:" ";
				width: 0;
				height: 0;
				left: 0;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				border-left: 15px solid $accent;
				position: absolute;
				top: 15px;
			}
		}
	}
	&:active {
		transform: translateY(2px);
	}
	&--primary {
		outline: 1px solid $primary;
		color: $primary;
		font-weight: 500;
		@include desktop {
			&:hover {
				background-color: $accent;
				color: $white;
				.devicon {
					color: $white;
				}
			}
		}
	}
	&--accent {
		outline: 1px solid $accent;
		color: $primary;
		@include desktop {
			&:hover {
				outline: 3px solid $accent;
			}	
		}
	}
	&--white {
		outline: 1px solid $white;
		color: $white;
		@include desktop {
			&:hover {
				background-color: $accent;
				color: $white;
				outline: 1px solid $accent;
			}
		}
	}
	.devicon {
		color: $accent;
		position: absolute;
		left: 18px;
		font-size: 26px;
		top: 16px;
	}
}