
<main class="container language">
	<div class="hero">
		<i class="hero__icon devicon-javascript-plain"></i>
		<h1 class="hero__headline">{{lang}}</h1>
	</div>

	<div class="search-container">
		<div class="search">
			<input [(ngModel)]="filterString" type="text" class="input" placeholder="Filter javascript...">
		</div>
	</div>

	<loader-component [show]="loading"></loader-component>
	<syntax-list *ngIf="!loading" [filterString]="filterString" [language]="lang" [list]="list"></syntax-list>
	<div *ngIf="this.pageError" class="form-error">{{this.pageError}}</div>

	<div *ngIf="!loading" class="buttons-container">
		<div routerLink="/add" class="button button--primary">
			add new syntax
		</div>
	</div>
</main>