<div class="view-syntax">
	<div class="view-syntax__info-container">
		<div>
			<h1 class="hero__headline hero__headline--left">{{name}}</h1>
			<h2 routerLink="/language/{{lang}}" class="subline smt">{{lang}}</h2>
		</div>
		<div class="buttons-container--left">
			<div routerLink="/add" class="button button--primary">
				add new syntax
			</div>
		</div>
	</div>
	
	<div class="view-syntax__code-container">
		<div class="view-syntax__code-block">
			<view-code [content]="content"></view-code>
			<div class="view-syntax__copy-options">
				<div class="custom-select-wrapper">
					<select class="custom-select">
						<option>Spaces</option>
						<option>Tabs</option>
					</select>
				</div>
				<div class="custom-select-wrapper">
					<select class="custom-select">
						<option>1</option>
						<option selected>2</option>
						<option>4</option>
						<option>8</option>
					</select>
				</div>
				<div class="button button--white" ngxClipboard [cbContent]="content">
					COPY <i class="far fa-copy"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="buttons-container--mobile">
		<div routerLink="/add" class="button button--primary">
			add new syntax
		</div>
	</div>
</div>
