<div class="view-syntax">
	<div class="view-syntax__info-container">
		<div>
			<h1 class="hero__headline hero__headline--left">{{name}}</h1>
			<h2 routerLink="/language/{{lang}}" class="subline smt">{{lang}}</h2>
		</div>
		<div *ngIf="!loading"  class="buttons-container--left">
			<div routerLink="/add" class="button button--primary">
				add new syntax
			</div>
		</div>
	</div>
	<div class="view-syntax__code-container">
		<loader-component [show]="loading"></loader-component>
		<div *ngIf="!loading" class="view-syntax__code-block">
			<view-code [content]="content"></view-code>
			<div class="view-syntax__copy-options">
				<div class="custom-select-wrapper">
					<select [ngModel]="type" (change)="typeUpdated(typeSelected)" class="custom-select" 
						#typeSelected="ngModel">
						<option value=" ">Spaces</option>
						<option value="&#09;">Tabs</option>
					</select>
				</div>
				<div class="custom-select-wrapper">
					<select [ngModel]="spaces" (change)="spacesUpdated(space)" class="custom-select" #space="ngModel">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="4">4</option>
						<option value="8">8 - really?</option>
					</select>
				</div>
				<div class="button button--white" ngxClipboard [cbContent]="copyCode">
					COPY <i class="far fa-copy"></i>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="!loading" class="buttons-container--mobile">
		<div routerLink="/add" class="button button--primary">
			add new syntax
		</div>
	</div>
</div>

