<div class="view-syntax">
	<div class="view-syntax__info-container">
		<div>
			<h1 class="hero__headline hero__headline--left">Add new syntax</h1>
		</div>
		
		<form (ngSubmit)="submitForm(addSyntaxForm)" [formGroup]="addSyntaxForm">
			<div class="custom-select-wrapper custom-select-wrapper--dark">
				<select required
					formControlName="language" 
					class="custom-select custom-select--dark">
					<option>Javascript</option>
					<option selected>Typescript</option>
					<option>CSS</option>
					<option>SASS</option>
				</select>
			</div>
			<div *ngIf="language.invalid && language.touched || submitAttempted">
				A language is required
			</div>
			<input class="custom-input" 
				type="text"
				formControlName="label"
				required
				placeholder="Name">
				<!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"> -->
					<!-- some error -->
				<!-- </div> -->
				<div *ngIf="label.invalid && label.touched || submitAttempted">
					A name is required
				</div>
			<!-- <div class="custom-checkbox">
				<input id="check" type="checkbox">
			<div class="custom-checkbox">
				<input id="check2" type="checkbox">
				<label for="check2"></label>
			</div> -->
				  
			<div class="buttons-container--left">
				<button type="submit" class="button button--primary">
					add new syntax
				</button>
			</div>
		</form>
		{{addSyntaxForm.value | json}}
		<div *ngIf="syntaxError">
			Please enter some syntax
		</div>
	</div>

	<div class="view-syntax__code-container">
		<div class="view-syntax__code-block"
			[(text)]="text"
			ace-editor 
			[mode]="'javascript'">
		</div>
	</div>

	<div class="buttons-container--mobile">
		<div class="button button--primary">
			add new syntax
		</div>
	</div>
</div>
