<div class="view-syntax">
	<div class="view-syntax__info-container">
		<div>
			<h1 class="hero__headline hero__headline--left">Add new syntax</h1>
		</div>
		
		<form (ngSubmit)="something(addSyntaxForm)" [formGroup]="addSyntaxForm">
			<div class="custom-select-wrapper custom-select-wrapper--dark">
				<select class="custom-select custom-select--dark">
					<option>Javascript</option>
					<option selected>Typescript</option>
					<option>CSS</option>
					<option>SASS</option>
				</select>
			</div>
			<input class="custom-input" 
				type="text"
				formControlName="name"
				required
				placeholder="Name">
				<!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"> -->
					<!-- some error -->
				<!-- </div> -->
				<div *ngIf="addSyntaxForm.controls.name.invalid && addSyntaxForm.controls.name.touched">
					some error
				</div>
			<div class="custom-checkbox">
				<input id="check" type="checkbox">
				<label for="check"></label>
			</div>
			<div class="custom-checkbox">
				<input id="check2" type="checkbox">
				<label for="check2"></label>
			</div>
				  
			<div class="buttons-container--left">
				<div class="button button--primary">
					add new syntax
				</div>
			</div>
		</form>
		{{addSyntaxForm.value | json}}
		{{addSyntaxForm.status | json}}
	</div>


	<div class="view-syntax__code-container">
		<div class="view-syntax__code-block"
			[options]="options"
			[(text)]="text"
			ace-editor 
			[mode]="'javascript'">
		</div>
	</div>

	<div class="buttons-container--mobile">
		<div class="button button--primary">
			add new syntax
		</div>
	</div>
</div>
